<!DOCTYPE html>
<html>
  <head>
    <title>PHP Documentation - Revcheck</title>
  </head>
  <body>
  {%- for language in languages %}
    <a href="{{ language }}/index.html">{{ language }}</a>
  {%- endfor %}
  </body>
</html>