<!DOCTYPE html>
<html>
  <head>
    <title>PHP Documentation - Revcheck</title>
  </head>
  <body>
      <h1>PHP Documentation - Revcheck</h1>
      <ul>
        {%- for language in languages|tojson %}
            <li><a href="{{ language }}/index.html">{{ language }}</a></li>
        {%- endfor %}
      </ul>
  </body>
</html>